.App-menu {
  text-decoration: none;
  color: inherit;
  z-index: 1 !important;
}

.barbuttons {
  margin-left: auto;
}

.searchbar {
  z-index: 5 !important;
}

.resultfound {
  margin-right: 10em;
}

.loggedbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

@media only screen and (max-width: 599px) {
  .searchbar {
    position: relative !important;
    left: -15em;
    max-width: 200px !important;
  }
}
