
.home {
  padding: 4em;
  margin: 7em auto auto auto;
  width: 70vw;

}

.dashboard {

}

.categories {
  margin-top: 3em;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0em;
}

.panels {
  display: flex;
  justify-content: center;
  width: 80%;
}

  .panelsgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.categories:nth-child(1) {
  color: #f50057;
}
.categories:nth-child(3) {
  color: #00a152;
  margin-top: 5em;
}
