.publiclist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.singlecard {
  margin-bottom: 3em !important;
  margin-right: 2em;
  margin-top: 5em;
}

.noprojectfound {
  margin-top: 5em !important;
  font-family: "Helvetica", "Arial", sans-serif !important;
  text-align: center;
  padding: 2em;
  margin-top: 0;
}
